#header {
    height: 60px;
    /* background-color: #cccccc; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_left {
    display: flex;

}
.header_logo {
    width: 11.25rem;
    height: 3rem;
    margin-right: 4.5rem;
}
.header_list {
    display: flex;
    align-items: center;
}
.header_list li {
    margin-right: 2rem;
}
.list_left {
    display: flex;
    font-weight: 500;
    font-size: 1.125rem;
}
.list_right {
    display: flex;
    font-weight: 400;
    font-size: 0.9375rem;
}
.list_right a {
    color: #6b6b6b;

}
.header_right {
    /* width: 10%; */
}
.header_profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_profile p {
    width: 70%;
    color: #0084ff;
    font-size: 0.875rem;
    max-width: 7.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1rem;
}
.header_profile svg {
    width: 1.125rem;
}